#game_board {
    height: 90vmin;
    width: 90vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
    border-radius: 25px;
}
.snake {
    background-color: blue;
    border-radius: 49% 51% 52% 48% / 52% 50% 50% 48% ;
    z-index: 3;
}
.food {
    background-color: yellow;
    border-radius: 49% 51% 52% 48% / 52% 50% 50% 48% ;
    z-index: 3;
}
.control_button {
    border-radius: 25px;
    text-align: center;
    margin: 0.5rem;
    font-size: 15vmin;
    background-color: tomato;
}
.button_contaner {
    display: none;
    justify-content: center;
    align-items: center;
    width: 90%;
}